
<!DOCTYPE html>
<html lang="ko">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>코로나19 백신 사전예약 시스템</title>
  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  
    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <link href="button_styles.css" rel='stylesheet'>

    <style>
      .main .card .board a p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      table {
        margin: auto;
        width: 70%;
      }
      
    </style>
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">코로나19 백신 사전예약 시스템</a>
        <a><%=name%>님</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">예약하기</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/shot_info">예약/접종 조회</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
      
    
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container" style="padding-top:60px">
        <div class="text-center">
        <br>
        <div class="main">

            <h3 class="text-center text-uppercase">의료기관 찾기</h3><br><br>
                
            <form name="region1" action="hospital?region=강남구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">강남구</button>
            </form>
            <form name="region2" action="hospital?region=강동구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">강동구</button>
            </form>
            <form name="region3" action="hospital?region=강북구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">강북구</button>
            </form>
            <form name="region4" action="hospital?region=강서구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">강서구</button>
            </form>
            <form name="region5" action="hospital?region=광진구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">광진구</button>
            </form>
            <form name="region6" action="hospital?region=구로구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">구로구</button>
            </form>
            <form name="region7" action="hospital?region=노원구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">노원구</button>
            </form>
            <form name="region8" action="hospital?region=도봉구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">도봉구</button>
            </form>
            <form name="region9" action="hospital?region=동대문구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">동대문구</button>
            </form>
            <form name="region10" action="hospital?region=동작구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">동작구</button>
            </form>
            <form name="region11" action="hospital?region=마포구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">마포구</button>
            </form>
            <form name="region12" action="hospital?region=서대문구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">서대문구</button>
            </form>
            <form name="region13" action="hospital?region=서초구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">서초구</button>
            </form>
            <form name="region14" action="hospital?region=성동구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">성동구</button>
            </form>
            <form name="region15" action="hospital?region=성북구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">성북구</button>
            </form>
            <br>
            <form name="region16" action="hospital?region=양천구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">양천구</button>
            </form>
            <form name="region17" action="hospital?region=영등포구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">영등포구</button>
            </form>
            <form name="region18" action="hospital?region=용산구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">용산구</button>
            </form>
            <form name="region19" action="hospital?region=영등포구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">영등포구</button>
            </form>
            <form name="region20" action="hospital?region=용산구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">용산구</button>
            </form>
            <form name="region21" action="hospital?region=은평구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">은평구</button>
            </form>
            <br>
            <form name="region22" action="hospital?region=종로구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">종로구</button>
            </form>
            <form name="region23" action="hospital?region=중구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">중구</button>
            </form>
            <form name="region24" action="hospital?region=중랑구" method="POST">
                <button type="submit" class="btn btn-primary btn-xl pull-left" style="background: #0055ff; width: 120px; height: 50px">중랑구</button>
            </form>
                
          </div>
        </div>
      </div>
    </section>

    <br><br><br><br><br><br><br>

    <header>
      <div class="container">
        <h4 class="text-center text-uppercase">연령별 1차 접종완료자 수</h4>
      </div>
      <div class="container" id="ageRatio"></div>
      <script type="text/javascript">
        google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
          var data = google.visualization.arrayToDataTable([
            ['10대', '20대', '30대', '40대', '50대', '60대'],
            <%
            for (var i = 0; i < rows[0].length; i++){
              var oneItem = rows[0][i];
            %>
            [parseInt("<%=oneItem.age_10%>"), parseInt("<%=oneItem.age_20%>"),
            parseInt("<%=oneItem.age_30%>"), parseInt("<%=oneItem.age_40%>"),
            parseInt("<%=oneItem.age_50%>"), parseInt("<%=oneItem.age_60%>"),],
            <%
            }
            %>
          ]);
          var options = {
            height :300,
            width :"65%",
            vAxis: {textPosition: 'none'},
            legend: {position: 'bottom'},
            isStacked: false,
            tooltip:{textStyle : {fontSize:12}, showColorCode : true},
            animation: { //차트가 뿌려질때 실행될 애니메이션 효과
              startup: true, duration: 1000, easing: 'linear' },
            annotations: { textStyle: {
                  fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                  opacity: 0.7},
            }
          };
          var chart = new google.visualization.BarChart(document.getElementById("ageRatio"));
          chart.draw(data, options);

          // 반응형 그래프 출력
          window.addEventListener('resize', function() { chart.draw(data, options); }, false);
        };
      </script>


      <br><br><br><br>

      <div class="container">
        <h4 class="text-center text-uppercase">연령별 2차 접종완료자 수</h4>
      </div>
      <div class="container" id="ageRatio2"></div>
      <script type="text/javascript">
        google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2(){
          var data = google.visualization.arrayToDataTable([
            ['10대', '20대', '30대', '40대', '50대', '60대'],
            <%
            for (var i = 0; i < rows[1].length; i++){
              var oneItem = rows[1][i];
            %>
            [parseInt("<%=oneItem.age_10%>"), parseInt("<%=oneItem.age_20%>"),
            parseInt("<%=oneItem.age_30%>"), parseInt("<%=oneItem.age_40%>"),
            parseInt("<%=oneItem.age_50%>"), parseInt("<%=oneItem.age_60%>"),],
            <%
            }
            %>
          ]);
          var options = {
            height :300,
            width :"65%",
            vAxis: {textPosition: 'none'},
            legend: {position: 'bottom'},
            isStacked: false,
            tooltip:{textStyle : {fontSize:12}, showColorCode : true},
            animation: { //차트가 뿌려질때 실행될 애니메이션 효과
              startup: true, duration: 1000, easing: 'linear' },
            annotations: { textStyle: {
                  fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                  opacity: 0.7},
            }
          };
          var chart = new google.visualization.BarChart(document.getElementById("ageRatio2"));
          chart.draw(data, options);

          // 반응형 그래프 출력
          window.addEventListener('resize', function() { chart.draw(data, options); }, false);
        };
      </script>

      <br><br><br><br>

      <table>
        <tr>
          <td>
              <h4 class="text-center text-uppercase">성별 1차 접종완료자 수</h4>
          </td>
          <td>
              <h4 class="text-center text-uppercase">성별 2차 접종완료자 수</h4>
          </td>
        </tr>
        <tr>
          <td>
            <div class="container" id="sexRatio1"></div>
            <script type="text/javascript">
              google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
              google.charts.setOnLoadCallback(drawChart3);

              function drawChart3(){
                var data = google.visualization.arrayToDataTable([
                  ['sex', 'cnt'],
                  <%
                  for (var i = 0; i < rows[2].length; i++){
                    var oneItem = rows[2][i];
                  %>
                  ["<%=oneItem.sex%>", parseInt("<%=oneItem.cnt%>"),],
                  <%
                  }
                  %>
                ]);
                var options = {
                  height :300,
                  vAxis: {textPosition: 'none'},
                  legend: {position: 'bottom'},
                  isStacked: false,
                  tooltip:{textStyle : {fontSize:12}, showColorCode : true},
                  animation: { //차트가 뿌려질때 실행될 애니메이션 효과
                    startup: true, duration: 1000, easing: 'linear' },
                  annotations: { textStyle: {
                        fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                        opacity: 0.7},
                  }
                };
                var chart = new google.visualization.PieChart(document.getElementById("sexRatio1"));
                chart.draw(data, options);

                // 반응형 그래프 출력
                window.addEventListener('resize', function() { chart.draw(data, options); }, false);
              };
            </script>
          </td>
          <td width="50%">
            <div class="container" id="sexRatio2"></div>
            <script type="text/javascript">
              google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
              google.charts.setOnLoadCallback(drawChart4);

              function drawChart4(){
                var data = google.visualization.arrayToDataTable([
                  ['sex', 'cnt'],
                  <%
                  for (var i = 0; i < rows[3].length; i++){
                    var oneItem = rows[3][i];
                  %>
                  ["<%=oneItem.sex%>", parseInt("<%=oneItem.cnt%>"),],
                  <%
                  }
                  %>
                ]);
                var options = {
                  height :300,
                  vAxis: {textPosition: 'none'},
                  legend: {position: 'bottom'},
                  isStacked: false,
                  tooltip:{textStyle : {fontSize:12}, showColorCode : true},
                  animation: { //차트가 뿌려질때 실행될 애니메이션 효과
                    startup: true, duration: 1000, easing: 'linear' },
                  annotations: { textStyle: {
                        fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                        opacity: 0.7},
                  }
                };
                var chart = new google.visualization.PieChart(document.getElementById("sexRatio2"));
                chart.draw(data, options);

                // 반응형 그래프 출력
                window.addEventListener('resize', function() { chart.draw(data, options); }, false);
              };
            </script>
          </td>
        </tr>
      </table>

      <br><br><br><br>

      <table>
        <tr>
          <td>
              <h4 class="text-center text-uppercase">백신별 1차 접종완료자 수</h4>
          </td>
          <td>
              <h4 class="text-center text-uppercase">백신별 2차 접종완료자 수</h4>
          </td>
        </tr>
        <tr>
          <td>
            <div class="container" id="vaccineRatio1"></div>
            <script type="text/javascript">
              google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
              google.charts.setOnLoadCallback(drawChart5);
      
              function drawChart5(){
                var data = google.visualization.arrayToDataTable([
                  ['vaccine_type', 'cnt'],
                  <%
                  for (var i = 0; i < rows[4].length; i++){
                    var oneItem = rows[4][i];
                  %>
                  ["<%=oneItem.vaccine_type%>", parseInt("<%=oneItem.cnt%>"),],
                  <%
                  }
                  %>
                ]);
                var options = {
                  height :300,
                  width :"50%",
                  vAxis: {textPosition: 'none'},
                  legend: {position: 'bottom'},
                  isStacked: false,
                  tooltip:{textStyle : {fontSize:12}, showColorCode : true},
                  animation: { //차트가 뿌려질때 실행될 애니메이션 효과
                    startup: true, duration: 1000, easing: 'linear' },
                  annotations: { textStyle: {
                        fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                        opacity: 0.7},
                  }
                };
                var chart = new google.visualization.PieChart(document.getElementById("vaccineRatio1"));
                chart.draw(data, options);
      
                // 반응형 그래프 출력
                window.addEventListener('resize', function() { chart.draw(data, options); }, false);
              };
            </script>
          </td>
          <td width="50%">
            <div class="container" id="vaccineRatio2"></div>
            <script type="text/javascript">
              google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
              google.charts.setOnLoadCallback(drawChart6);
      
              function drawChart6(){
                var data = google.visualization.arrayToDataTable([
                  ['vaccine_type', 'cnt'],
                  <%
                  for (var i = 0; i < rows[5].length; i++){
                    var oneItem = rows[5][i];
                  %>
                  ["<%=oneItem.vaccine_type%>", parseInt("<%=oneItem.cnt%>"),],
                  <%
                  }
                  %>
                ]);
                var options = {
                  height :300,
                  width :"50%",
                  vAxis: {textPosition: 'none'},
                  legend: {position: 'bottom'},
                  isStacked: false,
                  tooltip:{textStyle : {fontSize:12}, showColorCode : true},
                  animation: { //차트가 뿌려질때 실행될 애니메이션 효과
                    startup: true, duration: 1000, easing: 'linear' },
                  annotations: { textStyle: {
                        fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                        opacity: 0.7},
                  }
                };
                var chart = new google.visualization.PieChart(document.getElementById("vaccineRatio2"));
                chart.draw(data, options);
      
                // 반응형 그래프 출력
                window.addEventListener('resize', function() { chart.draw(data, options); }, false);
              };
            </script>
          </td>
        </tr>
      </table>
      

      <br><br><br><br>


      <div class="container">
        <h4 class="text-center text-uppercase">1차 누적 접종완료자 수</h4>
      </div>
      <div class="container" id="culcumsum1"></div>
      <script type="text/javascript">
        google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart6);

        function drawChart6(){
          var data = google.visualization.arrayToDataTable([
            ['shot_date', '누적 1차 접종자 수'],
            <%
            for (var i = 0; i < rows[6].length; i++){
              var oneItem = rows[6][i];
            %>
            [("<%=oneItem.shot_date%>"), parseInt("<%=oneItem.culcum_sum%>"),],
            <%
            }
            %>
          ]);
          var options = {
            height :300,
            width :"90%",
            hAxis: {textPosition: 'none', title: '날짜'},
            vAxis: {title: '누적 1차 접종자 수'},
            legend: {position: 'none'},
            isStacked: false,
            tooltip:{textStyle : {fontSize:12}, showColorCode : true},
            animation: { //차트가 뿌려질때 실행될 애니메이션 효과
              startup: true, duration: 1000, easing: 'linear' },
            annotations: { textStyle: {
                  fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                  opacity: 0.7},
            }
          };
          var chart = new google.visualization.LineChart(document.getElementById("culcumsum1"));
          chart.draw(data, options);

          // 반응형 그래프 출력
          window.addEventListener('resize', function() { chart.draw(data, options); }, false);
        };
      </script>

      <br><br><br><br>

      <div class="container">
        <h4 class="text-center text-uppercase">2차 누적 접종완료자 수</h4>
      </div>
      <div class="container" id="culcumsum2"></div>
      <script type="text/javascript">
        google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart6);

        function drawChart6(){
          var data = google.visualization.arrayToDataTable([
            ['shot_date', '누적 2차 접종자 수'],
            <%
            for (var i = 0; i < rows[7].length; i++){
              var oneItem = rows[7][i];
            %>
            [("<%=oneItem.shot_date%>"), parseInt("<%=oneItem.culcum_sum%>"),],
            <%
            }
            %>
          ]);
          var options = {
            height :300,
            width :"90%",
            colors: ['red'],
            hAxis: {textPosition: 'none', title: '날짜'},
            vAxis: {title: '누적 2차 접종자 수'},
            legend: {position: 'none'},
            isStacked: false,
            tooltip:{textStyle : {fontSize:12}, showColorCode : true},
            animation: { //차트가 뿌려질때 실행될 애니메이션 효과
              startup: true, duration: 1000, easing: 'linear' },
            annotations: { textStyle: {
                  fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                  opacity: 0.7},
            }
          };
          var chart = new google.visualization.LineChart(document.getElementById("culcumsum2"));
          chart.draw(data, options);

          // 반응형 그래프 출력
          window.addEventListener('resize', function() { chart.draw(data, options); }, false);
        };
      </script>
      
    </header>

      
      
    <br><br><br><br><br>
      

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>국민건강증진처</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
