<!DOCTYPE html>
<html lang="ko">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
     <link href="button_styles.css" rel='stylesheet'>

  </head>



  <body id="page-top">
    <header class="masthead bg-primary text-black">
      <div class="container">
        <form name="registerform" method="POST">
          <div class="fieldlabel"><label for="userName">이름</label></div>
          <div class="formfield">     <a><%=CLIENT_NAME%>님</a></div>

          <br>

          <div class="fieldlabel"><label for="userName">나이</label></div>
          <div class="formfield"><a><%=AGE%>세</a></div>
       
          
          <br>

          <br>

          <div class="fieldlabel"><label for="userName">접종가능 백신</label></div>
          <div class="formfield"><a><%=MUST_TPYE%></a></div>
       
          
          <br>


          <div class="fieldlabel"><label for="userName">접종차시</label></div>
          <div class="formfield"><a><%=VACCINE_ORDER%>차 대상자</a></div>
          <div id="name_check"></div>
          <br>

          <br>


          <div class="fieldlabel"><label for="userName">이전 접종 백신</label></div>
          <div class="formfield"><a><%=VACCINE_VACCINE_TYPE%></a></div>
          <div id="name_check"></div>
          <br>

          <br>


          <div class="fieldlabel"><label for="userName">마지막 접종 날짜</label></div>
          <div class="formfield"><a><%=LAST_SHOT_DATE%></a></div>
          <div id="name_check"></div>
          <br>
   
          <br>
          <div class="fieldlabel"><label for="BookDate">예약날짜</label></div>
          <input type="date" name="Date" id="Date"> 
          <br>
          <br>
            <select id="email02" name="email02" list="domains" placeholder="백신종류 선택" required >
            <datalist id="domains">
              <option value="화이자">화이자 잔여 : <%=PHIZER_NUM%>개</option>
              <option value="모더나">모더나 잔여 : <%=MODER_NUM%>개</option>
              <option value="AZ">AZ 잔여 : <%=AZ_NUM%>개</option>
            </datalist>
            </select>
            <br>
          </div>
          <div class="btnfield">
            <input type="submit" id="reg_submit" value="예약하기">
          </div>
        </form>
      </div>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">예약하기</a>

      </div>
    </nav>


    <!-- Footer -->

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small> 국민건강증진처</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>




    </script>
  </body>

</html>